<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Flex-box crush course</title>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <h1>Flexbox</h1>
            <ul class="nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <header class="header">
        <div class="container">
            <div>
                <h1>Muhammad Saqlain</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugit nam, non expedita sunt dignissimos? Officia, quaerat illo esse saepe dignissimos adipisci dolorum molestiae! Sunt, dicta!</p>
            </div>
            <img src="portfolio-1.jpg" alt="">
        </div>
    </header>
    <section class="boxes">
        <div class="container">
            <div class="box">
                <h2><i class="fas fa-arrow-alt-v"></i>Aligment & Space</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero doloribus explicabo architecto, tenetur dolor expedita aliquid.</p>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <h2><i class="fas fa-arrow-alt-v"></i>Aligment & Space</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero doloribus explicabo architecto, tenetur dolor expedita aliquid.</p>
            </div>
        </div>

        <div class="container">
            <div class="box">
                <h2><i class="fas fa-arrow-alt-v"></i>Aligment & Space</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero doloribus explicabo architecto, tenetur dolor expedita aliquid.</p>
            </div>
        </div>

    </section>


</body>

</html>